body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

#root {
    height: 100%;
}

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.home-page::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

.get-started-btn {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .heading-text {
    margin: 0px 200px 20px 200px;
    color: #000000; 
    z-index: 1;
  }

.container {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 20px;
}